.App {
  text-align: center;
  font-size: 30px;
  /* background: url("tick-icon.jpg") no-repeat; */
}

.appContainer {
  background-color: rgb(235, 238, 246);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center
}

.li-items-wrapper {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.li-items-wrapper:hover {
  background-color: lightblue;
  color: black;
}

.todo-finished-btn, .todo-edit-switch, .delete-todo-btn {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.delete-todo-btn {
  justify-self: flex-end;
  /* align-self: flex-end; */
}

.todo-edit-switch {
  display: flex;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}



.todo-list-wrapper ul>li>div>div {
  /* background-color: aqua; */
  
}

.todo-list-wrapper ul>li>div input {
  /* background-color: bisque; */
  border: none;
  text-align: center;
  font-size: inherit;
  background-color: inherit;
  /* overflow: hidden; */
  max-width: 300px;
  margin: 0;
  padding: 0;
  outline: none;
  height: 40px;
  font-family: inherit;
  color: inherit;
  /* user-select: none; */
}

.todo-list-wrapper ul>li>div input:focus {
  /* background-color: red; */
  border: none;
  text-decoration: underline;
}

.todo-list-wrapper ul>li>div span {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 40px; */
  max-width: 400px;
  font-size: 22px;
  /* padding-bottom: 10px; */
  /* text-align: left; */
  width: 100%;
  display: block;

  border-bottom-color: black;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.todoList {
  /* background-color: aquamarine; */
  /* width: 80%; */
  padding: 0;
  /* height: 300px; */
}

.todoList li {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  /* align-content: space-between; */
}

.deleteTodoBtn {
  /* flex-grow: 1; */
}

.singleTodoContent {
  /* flex-grow: 8; */
  /* display: inline-block; */
}

.markTodoFinishedBtn {
  /* flex-grow: 1; */
}

.todoEditorWrapper {
  /* display: inline-block; */
}

.todoEditorWrapper span {
  display: block;
  width: 100%;
}

.todoList input {
  font-size: 30px;
  color: inherit;
  /* background-color: inherit; */
  border: none;
  padding: 0;
 width: 100%;
}

/* .todoInput {
  display: inline !important;
} */

.todoList-todoFinished {
  color: lightgray;
  text-decoration: line-through;
}

.header-input {
  /* background-color: #ccc; */
  display: flex;
    align-items: center;
    justify-content: center;
}

.switchAllBtn {
  height: 50px;
  width: 50px;
  background: url('tick-icon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 0.5px;
  border-color:lightblue;
  border-radius: 50%;
  /* border: none; */
  padding: 0;
  display: inline-block;
  outline: none;
  /* margin-top: 20px; */
}

.switchAllBtn:active {
  outline: none;
  /* border: none; */
}


.todosInput {
  height: 50px;
  width: 250px;
  border-radius: 6px;
  border-color: gray;
  border-width: 1px;
  padding-left: 10px;
  font-size: 18px;
  display: inline-block;
  margin-left: 15px;
}

ul {
  list-style-type: none;
}

ul li {
  text-align: left;
}

ul button {
  margin-left: 30px;
  margin-right: 30px;
  background-color: darkblue;
  color: yellow;
  border-radius: 5px;
  height: 22px;
  line-height: 18px;
}

body {
  color: green;
  /* background-color: black; */
}

.control-buttons-wrapper {
  display: flex;
}

.control-buttons-wrapper button {
  margin-right: 5px;
  height: 25px;
  flex-grow: 1;
  border-radius: 5px;
}

