.App {
  text-align: center;
  font-size: 30px;
  /* background: url("tick-icon.jpg") no-repeat; */
}

.appContainer {
  background-color: rgb(235, 238, 246);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center
}

.li-items-wrapper {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-finished-btn, .task-edit-switch, .delete-task-btn {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.task-edit-switch {
  display: flex;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}



.task-list-wrapper ul>li>div>div {
  /* background-color: aqua; */
  
}

.task-list-wrapper ul>li>div input {
  /* background-color: bisque; */
  border: none;
  text-align: center;
  font-size: inherit;
  background-color: inherit;
  /* overflow: hidden; */
  max-width: 300px;
  margin: 0;
  padding: 0;
  outline: none;
  height: 40px;
  font-family: inherit;
  color: inherit;
  /* user-select: none; */
}

.task-list-wrapper ul>li>div input:focus {
  /* background-color: red; */
  border: none;
  text-decoration: underline;
}

.task-list-wrapper ul>li>div span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 300px;
  /* user-select: none; */
}

.taskList {
  /* background-color: aquamarine; */
  /* width: 80%; */
  padding: 0;
  /* height: 300px; */
}

.taskList li {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  /* align-content: space-between; */
}

.deleteTaskBtn {
  /* flex-grow: 1; */
}

.singleTaskContent {
  /* flex-grow: 8; */
  /* display: inline-block; */
}

.markTaskFinishedBtn {
  /* flex-grow: 1; */
}

.taskEditorWrapper {
  /* display: inline-block; */
}

.taskEditorWrapper span {
  display: block;
  width: 100%;
}

.taskList input {
  font-size: 30px;
  color: inherit;
  /* background-color: inherit; */
  border: none;
  padding: 0;
 width: 100%;
}

/* .taskInput {
  display: inline !important;
} */

.taskList-taskFinished {
  color: lightgray;
  text-decoration: line-through;
}

.header-input {
  /* background-color: #ccc; */
  display: flex;
    align-items: center;
    justify-content: center;
}

.switchAllBtn {
  height: 50px;
  width: 50px;
  background: url('tick-icon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 0.5px;
  border-color:lightblue;
  border-radius: 50%;
  /* border: none; */
  padding: 0;
  display: inline-block;
  outline: none;
  /* margin-top: 20px; */
}

.switchAllBtn:active {
  outline: none;
  /* border: none; */
}


.tasksInput {
  height: 50px;
  width: 250px;
  border-radius: 6px;
  border-color: gray;
  border-width: 1px;
  padding-left: 10px;
  font-size: 18px;
  display: inline-block;
  margin-left: 15px;
}

ul {
  list-style-type: none;
}

ul li {
  text-align: left;
}

ul button {
  margin-left: 30px;
  margin-right: 30px;
  background-color: darkblue;
  color: yellow;
  border-radius: 5px;
}

body {
  color: green;
  /* background-color: black; */
}



